{% extends "layout.html" %}
{% block title %}Update Note{% endblock %}
{% block content%}
<div class="container" >
    <h1>Notes</h1>
    <form method="POST" action="{{ url_for('views.update_note') }}">
      <div class="form-group">
        <input type="text" class="form-control" id="task-name" name="note" value="{{ note.data }}">
      </div>
      <br />
      <button type="submit" id="save-changes-btn" class="btn btn-primary" style="padding: 5px" >Save Changes</button>

    </form>
{% endblock %}