{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content%}
<div class="container" >
    <h1>Notes</h1>
    <form method="POST">
      <div class="form-group">
        <input type="text" class="form-control" id="task-name" name="note" placeholder="Enter task name">
      </div>
      <br />
      <button type="submit" class="btn btn-primary" style="padding: 5px" >Add Note</button>
    </form>
<br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Note</th>
          <th>Action</th>
          <th>Date </th>
        </tr>
      </thead>
      <tbody>
        {% for note in user.notes %}
        <tr>
          <td>{{ note.data }}</td>
          <td>
            <div class="row">
              <div class="col-3">
                <form method="POST" action="{{ url_for('views.get_note', note_id=note.id) }}">
                  <button class="btn btn-success btn-sm" type="submit">Update</button>
                </form>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
                  Delete
                </button>
              </div>
            </div>
            
                       
            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Confirmation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this item?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    <form method="POST" action="{{ url_for('views.delete_post', note_id=note.id) }}">
                      <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>

          <td>{{ note.date.strftime("%Y-%m-%d %H:%M") }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}