{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block content%}
<h1 class="display-4 text-center text-sm">Login</h1>
<form method="POST">
    <div class="mb-3">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="mb-3">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}