{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}

{% block content%}
<h1 class="display-4 text-center text-sm">Sign Up</h1>
<form method="POST" action="/sign-up">
    <div class="mb-3">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="mb-3">
        <label for="username">Username</label>
        <input  class="form-control" id="username" name="username">
      </div>
    <div class="mb-3">
      <label for="password1">Password</label>
      <input type="password" class="form-control" id="password1" name="password1">
    </div>
    <div class="mb-3">
        <label for="password2">Confirm your password</label>
        <input type="password" class="form-control" id="password2" name="password2">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
{% endblock %}